*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 700px;
}

.carousel {
    position: relative;
}

.carousel-inner {
    background-color: #f4f4f4;
}

.carousel-inner .carousel-item {
    text-align: center;
    padding: 100px;

    display: none;
}

.carousel-item .user {
    width: 100px;
    height: 100px;

    border-radius: 50%;
}
.carousel-item .jobtitle {
    letter-spacing: 2px;
}

.carousel-item .contact-btn {
    padding: 10px 15px;
    text-decoration: none;

    border-radius: 3px;
    background: steelblue;
    color: #fff;
}

.carousel-indicators {
    width: 100%;
    text-align: center;

    padding: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
}

.dots {
    width: 8px;
    height: 8px;

    background: #bbb;
    border-radius: 50%;
    list-style: none;

    display: inline-block;
    margin: 0 1px;

    cursor: pointer;

    transition: background .6s ease-in;
}

.dots:hover,.active {
    background: #777;
}

.carousel-control-prev,.carousel-control-next {
    color: #bbb;
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    top: 50%;

    padding: 10px;

    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev:hover {
    color: #888;
    animation-name: forleft;
    animation-duration: .5s;
    animation-iteration-count: infinite;

    animation-direction: alternate;
}

@keyframes forleft {
    from {
        left: 0;
        opacity: .5;
    }
    to {
        left: 10px;
        opacity: 1;
    }
}

.carousel-control-next:hover {
    color: #888;
    animation-name: forright;
    animation-duration: .5s;
    animation-iteration-count: infinite;

    animation-direction: alternate;
}

@keyframes forright {
    from {
        right: 0;
        opacity: .5;
    }
    to {
        right: 10px;
        opacity: 1;
    }
}

