body {
    padding: 0;
    margin: 0;
    
    font-size: 20px;
    line-height: 30px;

    background: #f4f4f4;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
   
    text-align: center;
    background: #e5e5e5;
}

.progress {
    width: 100%;
    height: 2px;
    background: #bbb;
}

.progress-bar {
    width: 0;
    height: 2px;
    background: red;
}

.content {
    width: 80%;
    padding: 50px 0;
    margin: 100px auto;
}


@media print {
    * {
        visibility: hidden;
    }

    .printarea  * {
        visibility: visible;
    }

    header {
        position: static;
    }

    .pagebreak {
        page-break-after: always;
    }
}

@page {
    margin: 0;
}