* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    background: #fff;
    box-shadow: 3px 4px 10px #888;
}

.container .card {
    width: 100%;
    padding: 10px 20px;
}

.card h3,
h4 , h2{
    text-align: center;
    letter-spacing: 1px;
    color: #888;
}

.card .card-content .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form-group label {
    margin: 0 0 1px 0;
    color: #777;
}

.form-group .form-control {
    width: 100%;
    padding: 5px;

    border: none;
    border-bottom: 1px solid silver;
}

.form-control:focus {
    outline: none;
    border-bottom: 1px solid forestgreen;
}

.btn {
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    width: 100%;
    padding: 8px 0;
    background: blue;
}

.card .card-action {
    margin-top: 10px;
    border-top: 1px dashed silver;

    border-bottom: 1px dashed silver;
}

.card .card-action .list-group {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-group .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 0;

    color: #333;
}

.list-group-item .delet-item {
    color: red;
}

.list-group-item a:hover {
    color: gray;
}

.btn-danger {
    width: 50px;
    display: block;
    padding: 6px 0 6px 8px;
    margin-bottom: 10px;
    background: red;
    text-decoration: none;
}

.moretasks {
    margin: 10px 0;
    text-align: center;
}
.moretasks .loading {
    width: 20px;
    height: 20px;
}