body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 500px;
}

.progress {
    width: 100%;
    background: #ddd;
    margin-bottom: 20px;
}

.progress-bar {
    width: 0;
    height: 15px;
    background: forestgreen;

    position: relative;
}

.progress-bar::before {
    content: attr(data-inc);
    width: 100%;
    height: 100%;

    color: #fff;

    position: absolute;
    right: 10px;
    top: 50%;

    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 12px;
    font-family: sans-serif;

    transform: translateY(-50%);

}
