body {
    font-family: sans-serif;
}

.accordion {
    width: 100%;
}

.acctitle {
    font-size: 14px;
    user-select: none;

    background: #777;
    color: #fff;

    padding: 15px;
    margin: 0;

    position: relative;
}

.acctitle:hover,.active{
    background-color: steelblue;
}

.acctitle::after {
    content: '+';
    /* float: right; */
    font-size: 21px;
    position: absolute;
    right: 15px;
    top: 50%;

    transform: translateY(-50%);
}

/* .active.acctitle::after {
    content: '-';
} */

.active::after {
    content: '-';
}

.accContent {
    height: 0;
    background: #e5e5e5;
    text-indent: 50px;
    text-align: justify;

    font-size: 14px;
    
    padding: 0 20px;

    overflow: hidden;

    transition: height .6s ease-in-out;
}